@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/* share style */

.flex{
    display: flex;
}

.text-end{
    text-align: end;
    color: rgba(224, 44, 109, 0.87);
    cursor: pointer;
}
.font{
    font-size: 1.75rem;
    font-weight: 500;
    color: #18191F;
    margin: 16px 0;
}
.font-price{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
    
}

.font-description{
    font-size: .87rem;
    font-weight: bold;
    line-height: 143%;
    letter-spacing: 1.8%;
    color: #787885;
}

.primary{
    color: #3a3a3a;
}

.center{
   
    margin: 0 auto;
}

.width{
    max-width: 1200px;
}

.primary-btn{
    padding: 10px 24px;
    background-color: #E02C6D;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

}


/* main style */

header{
    padding-top: 60px;
}


nav{
    
    justify-content: space-between;
}

.logo{
    font-size: 1.5rem;
}

.menu {
    list-style: none;
    gap: 34px;
    align-items: center;
    
    
}
.menu a{
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}


.banner{
    padding-top: 60px;
}

.banner-content{
     align-items: center;
     justify-content: space-between;
}

.banner-text{
    max-width: 582px;
}

.banner-tittle{
    font-size: 3.25rem;
    line-height: 72px;
    margin-bottom: 16px;
}

.banner-description{
    font-size:1rem ;
    font-weight: 500;
    margin-bottom: 25px;
}

.btn{
    border-radius: 40px;
    gap: 5px;
    align-items: end;
}

.img-container{
    background-image: url("/images/Circle\ design.svg");
    background-size: 100% 100%;
    background-position: center;
}

.img-container img{
    padding: 45px;
    width: 100%;
}

.sponser{
    padding-top: 60px;
}

.sponser-container{
    max-width: 1120px;
    flex-wrap: wrap;
    border: 1px solid #c0ccda ;
    border-left: none;
    border-right: none;
    gap: 60px;
    align-items: center;
    padding: 34px 60px;
}

.sponser-container img{
    width: 100%;
}


main{
    padding-top: 100px;
}

.product-container{
    max-width: 1047px;
    margin: 0 auto;
    text-align: center;
}

.tittle{
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.product-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.product-card{
    width: 328px;
    padding: 17px 14px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: start;
    cursor: pointer;
    transition: all .5s ease-in-out ;
}

.product-card:hover{
    transform: scale(1.1);
}

aside{
    padding: 100px 0;
}
.featured-container{
    max-width: 1110px;
    margin: 0 auto; 
    gap: 96px;
    align-items: center;
}

.featured-description h2{
    font-size: 2.37rem;
    color: #0A0826;
    font-weight: bold;
    margin-bottom: 16px;
}


.featured-description p{
    font-size: 1rem;
    font-weight: bold;
    line-height: 28px;
    color: #6C6C6C;    
    margin-bottom: 16px;
}


footer{
    background-color: #0A0826;
    padding: 50px 0;
}

.footer-box{
    max-width: 262px;
    color: white;
    margin: 0 auto;
}


.footer-box h2{
    font-size: 1.5rem;
}

.footer-box p{
    font-size: 0.875rem;
    color: #D9DBE1;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
}

.icon-box{
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 32px;
    height: 32px;
    background-color: #1f1d35;
    text-align: center;
    border-radius: 50%;

}

.icon i{
    margin: 10px auto;
}

