@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/* share style */

.flex{
    display: flex;
}

.primary{
    color: #3a3a3a;
}

.center{
   
    margin: 0 auto;
}

.width{
    max-width: 1200px;
}
.primary-btn{
    padding: 10px 24px;
    background-color: #E02C6D;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

}


/* main style */

header{
    padding-top: 60px;
}


nav{
    
    justify-content: space-between;
}

.logo{
    font-size: 1.5rem;
}

.menu {
    list-style: none;
    gap: 34px;
    align-items: center;
    
    
}
.menu a{
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}


.banner{
    padding-top: 60px;
}

.banner-content{
     align-items: center;
     justify-content: space-between;
}

.banner-text{
    max-width: 582px;
}

.banner-tittle{
    font-size: 3.25rem;
    line-height: 72px;
    margin-bottom: 16px;
}

.banner-description{
    font-size:1rem ;
    font-weight: 500;
    margin-bottom: 25px;
}

.btn{
    border-radius: 40px;
    gap: 5px;
    align-items: end;
}

.img-container{
    background-image: url("/images/Circle\ design.svg");
    background-size: 100% 100%;
    background-position: center;
}

.img-container img{
    padding: 45px;
    width: 100%;
}

.sponser{
    padding-top: 60px;
}

.sponser-container{
    max-width: 1120px;
    flex-wrap: wrap;
    border: 1px solid #c0ccda ;
    border-left: none;
    border-right: none;
    gap: 60px;
    align-items: center;
    padding: 34px 60px;
}

.sponser-container img{
    width: 100%;
}